@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bline {
    @apply border border-red-400;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.active {
  color: #f4b700;
}

.isi-regulasi a {
  color: #0e3b63 !important;
}
.isi-regulasi a:hover {
  color: #e1a900 !important;
}

.isi a {
  font-weight: 700;
  color: #e1a900;
}
.isi a:hover {
  text-decoration: underline;
}

.isi p:not(:first-child) {
  margin-top: 12px;
  margin-bottom: 8px;
}
.isi p:first-child {
  margin-bottom: 8px;
}

.isi ol ul,
.isi ol ol,
.isi ul ol,
.isi ul ul {
  margin-left: 22px;
}
.isi ol ol,
.isi ul ol {
  list-style: lower-alpha;
}
.isi ol {
  list-style: decimal;
}
.isi ul {
  list-style: disc;
}
.isi ol li,
.isi ul li {
  margin-left: 22px;
  padding-left: 3px;
}

.isi h1,
.isi h2,
.isi h3,
.isi h4,
.isi h5,
.isi h6 {
  font-weight: 700;
}
.isi h1 {
  font-size: 1.5em;
}
.isi h2 {
  font-size: 1.4em;
}
.isi h3 {
  font-size: 1.3em;
}
.isi h4 {
  font-size: 1.2em;
}
.isi h5 {
  font-size: 1.1em;
}
.isi h1:not(:first-child),
.isi h2:not(:first-child),
.isi h3:not(:first-child),
.isi h4:not(:first-child),
.isi h5:not(:first-child),
.isi h6:not(:first-child) {
  margin-top: 12px;
  margin-bottom: 8px;
}
.isi h1:first-child,
.isi h2:first-child,
.isi h3:first-child,
.isi h4:first-child,
.isi h5:first-child,
.isi h6:first-child {
  margin-bottom: 8px;
}
